.btn1{
  background-color:green;
  width: 33%;
  height: 20%;
  font-size: x-large;
  font-weight: 1000;
  color: wheat;
  border-color: darkgreen;

}
.btn2{
  background-color:orangered;
  width: 33%;
  height: 20%;
  font-size: x-large;
  font-weight: 1000;
  color: wheat;
  border-color: rgb(160, 84, 13);

}
.btn3{
  background-color:wheat;
  width: 33%;
  height: 20%;
  font-size: x-large;
  font-weight: 1000;
  color:black;
  border-color: whitesmoke;

}
p{
  font-size: xx-large;
  font-weight: 800;
  
}